body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #FF6666;
}

.footer {
  background-color: gray;
  margin-top: 30px;
}

.item {
  margin-top: 30px;
  height: 300px;
  text-align: center;
}

.item-image {
  background-color: gray;
  height: 100px;
}

.item-top {
  background-color: white;
  height: 100px;
}

.item-bottom {
  background-color: gray;
  height: 100px;
}
